# Optional script to run each time the module is loaded,
# AFTER it is started.
#
# Commands in this file should be exactly as you would type
# interactively into the JeVois command-line interface.
#
# Example:
#
# setcam brightness 1
# setpar cpumax 1200
# info
setcam autoexp 1

setcam autogain 0

setcam gain 22

setcam autowb 0

setcam absexp 80

setcam bluebal 107

setcam redbal 109

setpar serout Hard